<style>
        .box {
          outline: 2px dashed #BDBDBD;
          outline-offset: -10px;
          text-align: center;
          padding: 200px 20px;
          transition: outline-offset .15s ease-in-out, background-color .15s linear;
        }
        
        .box__dragndrop {
          display: inline;
        }
        .is-dragover {
          outline-offset: -20px;
          outline-color: #82B1FF; /* default accent */
          color: #82B1FF; /* default accent */
        }
        .box__file {
          display: none;
        }
        .box label {
          cursor: pointer;
        }
  </style>